<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
    <!-- Brand -->
    <a class="navbar-brand float-left text-light" href="#"><i class="fas fa-flask"> Site Flask </i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link m-2" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2" href="/about">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-2" href="http://flask.pocoo.org/docs/1.0/quickstart/">Flask Quickstart</a>
        </li>
      </ul>
      <a @click="logout" class="nav-link m-2 my-2 my-md-0" >Sair</a>
    </div>
  </nav>
  